<?xml version="1.0"?>
<robot name="ur" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- include UR base macros -->
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

  <!-- include sensor macro -->
  <xacro:include filename="$(find ur_tof_description)/urdf/sensors/tof_sensor.xacro"/>

  <!-- passthrough args -->
  <xacro:arg name="ur_type" default="ur10"/>
  <xacro:arg name="safety_limits" default="true"/>
  <xacro:arg name="prefix" default=""/>

  <!-- Which YAML, how many sensors to place, sampling step -->
  <xacro:arg name="candidates_yaml" default="$(find ur_simulation_gazebo)/candidates.yaml"/>
  <xacro:arg name="pick_n" default="10"/>
  <xacro:arg name="stride"  default="1"/>

  <!-- Sensor defaults -->
  <xacro:arg name="tof_rate" default="15"/>
  <xacro:arg name="tof_max_range" default="3.0"/>

  <!-- Load YAML (dict with keys: spacing_m, offset_m, candidate_count, candidates:[...]) -->
  <xacro:property name="CANDS" value="${load_yaml(candidates_yaml)}"/>
  <xacro:property name="LIST"  value="${CANDS['candidates']}"/>


  <!-- define dummy world link -->
  <link name="world"/>

  <!-- Instantiate the UR robot -->
  <xacro:ur_robot
      name="ur"
      tf_prefix="$(arg prefix)"
      parent="world"
      joint_limits_parameters_file="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"
      kinematics_parameters_file="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"
      physical_parameters_file="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"
      visual_parameters_file="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"
      safety_limits="$(arg safety_limits)"
      safety_pos_margin="0.15"
      safety_k_position="20"
      sim_gazebo="true">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur_robot>

  <!-- Attach ToF sensors -->
  <!-- Auto-attach ToF sensors from YAML -->
  <xacro:for each="it" in="${enumerate(LIST)}">
    <xacro:property name="i" value="${it[0]}"/>
    <xacro:property name="c" value="${it[1]}"/>

    <!-- simple selection: every 'stride'-th candidate, up to pick_n -->
    <xacro:if value="${i % int(stride) == 0 and i &lt; int(pick_n)}">
      <xacro:tof_sensor
        name="tof_${i}"
        parent="${c['link']}"
        xyz="${'{} {} {}'.format(c['xyz'][0], c['xyz'][1], c['xyz'][2])}"
        rpy="${'{} {} {}'.format(c['rpy'][0], c['rpy'][1], c['rpy'][2])}"
        max_range="$(arg tof_max_range)"
        rate="$(arg tof_rate)"/>
    </xacro:if>
  </xacro:for>

  <!-- Gazebo ROS 2 Control -->
  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>$(find ur_simulation_gazebo)/config/ur_controllers.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
