<?xml version="1.0"?>
<robot name="ur" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- include UR base macros -->
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

  <!-- include our sensor macro -->
  <xacro:include filename="$(find ur_tof_description)/urdf/sensors/tof_sensor.xacro"/>

  <!-- passthrough args that ur_simulation_gazebo already sets -->
  <xacro:arg name="ur_type" default="ur10"/>
  <xacro:arg name="safety_limits" default="true"/>
  <xacro:arg name="prefix" default=""/>

  <!-- defining dummy world link -->
  <link name="world"/>

  <!-- Instantiate the UR robot (files depend on ur_type) -->
  <xacro:ur_robot
      name="ur"
      tf_prefix="$(arg prefix)"
      parent="world"
      joint_limits_parameters_file="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"
      kinematics_parameters_file="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"
      physical_parameters_file="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"
      visual_parameters_file="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"
      safety_limits="$(arg safety_limits)"
      safety_pos_margin="0.15"
      safety_k_position="20"
      sim_gazebo="true">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur_robot>

  <!-- Attach ToF sensors to UR links; adjust positions as you like -->
  <xacro:tof_sensor name="tof_wrist"   parent="wrist_3_link" xyz="0 0 0.10" rpy="0 0 0"  max_range="3.0" rate="30"/>
  <xacro:tof_sensor name="tof_forearm" parent="forearm_link" xyz="0 0.05 0" rpy="0 1.57 0" max_range="2.0" rate="30"/>
  <xacro:tof_sensor name="tof_shoulder" parent="shoulder_link" xyz="0.08 0 0" rpy="0 0 0" max_range="2.0" rate="20"/>

</robot>
